.App {
  font-family: sans-serif;
  text-align: center;
}


.gridContainer{
  display: flex;
}

.grid { 
  display: inline-block;
  padding: 0.5em;
  margin: 1em;
  border: 1px solid black;
}

.gridBox {
  position: relative;
  background-color: rgba(0, 0, 0, 0.052);
  width: 5em;
  height: 5em;
  margin: 0.0em 0.3em 0.3em 0.0em;
  /* border: 1px solid black; */

}
.position-id {
  bottom: 0px;
  right: 5px;
  position: absolute;
}

.robot img{
  position: absolute;
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
}

.trash img{
  padding-top: 1em;
  width: 45%;
  height: 65%;
  background-color: none;
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
}


.grid-input {
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
}

.grid-input > div {
  margin: .3rem 0;
  position: relative;
}

.grid-input input {
  position: absolut;
  margin-left: 0.3em;
  border: none;
  font-size: 16px; 
}

.grid-input button {
  margin-left: 2em;
  padding: .1em .8em;
}
.grid-change-input input{
  width: 3em;
  text-align: center;
  font-size: 17;

}
.grid-size-input input{
  width: 3em;
}


.robot-input {
  display: flex;
  margin-top: 1rem;
}

.robot-information {
  margin: .8rem;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

textarea {
    font-size: 1.2rem;
    letter-spacing: 1px;
    resize: none;
    padding: 10px;
    margin: 5px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

}
.trashRobot #robotImg{
/* display robot and trash box    */
position: absolute;
  max-width:100%;
  max-height:100%;
  margin: auto;
  display: block;
}
.trashRobot #trashImg{
float: left;
  max-width:30%;
  max-height:40%;
  margin: 0.2em;
  display: block;
}
